*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/*body{
    background-color: rgb(99, 126, 124);
}*/

.intro-container{
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0.5)) ,url(the\ top\ restaurant\ in\ oxford\,\ for\ every\ occasion\,\ in\ the\ style\ of\ mesoamerican\ influences\,\ \,\ tabletop\ photography\,\ saurabh\ jethani\,\ ready-made\,\ diego\ rivera\,\ high-angle.png);
    height: 100vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.navbar ul li{
    list-style: none;
   display: inline;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}
.navbar ul li a:hover {
   color: turquoise;
}
.navbar ul li a:active{
    color: goldenrod;
}

.btn{
    width:200px;
    padding:10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: transparent;
    border: 2px solid ;
    position: relative;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(1, 34, 31);
}
button:active{
    color: rgb(245, 170, 8);
}
.row{
    display: flex;
}
.row img{
    width: 100%;
    height:100;
}

.column{
    flex: 50%;
}
#about img{
    border-radius: 8px;
}
.card-img-top{
    width: 100px;
    height: 180px;
}
#about .card:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    position: relative; /* Needed for text positioning */
  }
  
  <style>
  .contact-form {
    width: 300px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .submit {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
</style>